@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: 16px;
  font-weight: 400;
  background-color: #f3f4f6;
}

/* IMAGE BACKGROUND */

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10rem;
  z-index: -1;
}

.background-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.header-title {
  color: #fff;
  font-weight: 600;
}

.header-items {
  font-size: 10px;
  color: #fff;
  background-color: #1d1d1f;
  padding: 0.25rem 0.5rem;
  border-radius: 60px;
}

/* SECTION */

.main-section div {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
}

/* ITEMS CONTAINER */
.items-container {
  background-color: #e5e7eb;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-apply {
  margin-bottom: 1rem;
}

.prices {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.sub-total,
.tax,
.total {
  border: 1px solid purple;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.sub-total p {
  border: 1px solid lightcoral;
}

/* CONTACT CONTAINER */
.contact-container {
}

/* FOOTER */
.footer {
  font-size: 14px;
  background-color: #222831;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
}

.footer-text a {
  color: white;
  font-weight: 600;
  text-underline-offset: 3px;
}
