@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --dark-grey: #1d1d1f;
  --dark-blue: #394150;
  --gray-light-1: #d2d5da;
  --gray-light-2: #e5e7eb;
  --gray-light-3: #f3f4f6;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #f3f4f6;
  color: var(--dark-grey);
}

/* MEDIA QUERY - FONT SIZE */
@media only screen and (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* ========== TEXT STYLE ========== */
.heading-1 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.heading-2 {
  font-size: 16px;
  font-weight: 600;
}

.text-dark-blue {
  color: var(--dark-blue);
}

.text-dark-gray {
  color: var(--dark-grey);
}

.text-light-gray-3 {
  color: var(--gray-light-3);
}

.font-weight-semi-bold {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 600;
}

.font-weight-extra-bold {
  font-weight: 700;
}

/* ========== LIST STYLE ========== */
ul {
  list-style: none;
}

/* ========== MARGIN & PADDING ========== */
.padding-container {
  padding: 1rem;
}

.margin-bottom-small {
  margin-bottom: 0.6rem;
}

.margin-bottom-medium {
  margin-bottom: 1rem;
}

/* MEDIA QUERY - MARGIN */
@media only screen and (min-width: 600px) {
  .margin-bottom-medium {
    margin-bottom: 1.3rem;
  }

  .padding-container {
    padding: 1.5rem;
  }
}

/* ========== BUTTON ========== */
button {
  cursor: pointer;
}

.delete-button {
  background-color: transparent;
  border: none;
}

.dark-button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #f3f4f6;
  background-color: #1d1d1f;

  padding: 1rem 0.7rem;

  border: 1px solid #1d1d1f;
  border-radius: 0.6rem;

  cursor: pointer;
  transition: all 0.15s;
}

.dark-button:hover {
  background-color: #030303;
}

/* ========== DISPLAY ========== */
.flex-center-spacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-spacebetween-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

/* ========== FORMS ========== */

.inputs {
  font-family: "Inter", sans-serif;
  flex: 1;
  padding: 1rem 0.7rem;
  border: 1px solid #d2d5da;
  border-radius: 0.6rem;
}

.input-light-background {
  background-color: #f3f4f6;
}

.labels {
  font-weight: 600;
  font-size: 14px;
  color: #222831;
}

/* ========== SETUP IMAGE BACKGROUND ========== */
.background-container {
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.background-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MEDIA QUERY - BACKGROUND IMG */
@media only screen and (min-width: 600px) {
  .background-container {
    height: 15rem;
  }
}

/* ========== HEADER ========== */
.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* MEDIA QUERY - BACKGROUND IMG */
@media only screen and (min-width: 600px) {
  .header {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
  }
}

.header-items {
  font-size: 10px;
  color: #fff;
  background-color: #1d1d1f;
  padding: 0.25rem 0.5rem;
  border-radius: 60px;
}

/* ========== MAIN SECTION ========== */
.main-section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MEDIA QUERY - FLEX */
@media only screen and (min-width: 1024px) {
  .main-section {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}

/* ITEMS CONTAINER */
.items-container {
  background-color: var(--gray-light-2);
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

/* MEDIA QUERY - WIDTH ITEM CONTAINER */
@media only screen and (min-width: 1024px) {
  .items-container {
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    border-top-right-radius: 0rem;
  }
}

/* - LIST ITEMS - */

.items-list {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #d2d5da;
}

.item {
  display: flex;
  column-gap: 0.5rem;
}

.item-img {
  width: 5rem;
  height: 5rem;

  background-color: #f3f4f6;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #d2d5da;
  border-radius: 0.6rem;
}

.item-img img {
  width: 30%;
}

/* - FORM COUPON - */
.form-coupon {
  width: 100%;
  display: flex;
  gap: 0.8rem;
}

/* - TOTAL - */
.prices {
  display: flex;
  flex-direction: column;
}

.prices div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* CONTACT CONTAINER */
.contact-container {
  max-width: 40rem;
  background-color: #fff;
  border-bottom-left-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;

  padding: 1rem;
}

/* MEDIA QUERY - WIDTH FORM CONTAINER */
@media only screen and (min-width: 600px) {
  .contact-container {
    min-width: 30rem;

    padding: 1.5rem;

    border-bottom-left-radius: 0rem;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }
}

.contact-container h2 {
  margin-bottom: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact-form-div-type-1 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.contact-form-div-type-2 {
  display: flex;
  justify-content: space-between;
}

/* FOOTER */
.footer {
  height: 2.5rem;
  color: var(--white);
  background-color: var(--dark-grey);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MEDIA QUERY - WIDTH FORM CONTAINER */
@media only screen and (min-width: 600px) {
  .footer {
    height: 5.5rem;
  }
}
